<%- include('header.ejs') %>
<div class="container">
    <p>User ID: <%= session.userId %></p>

    <p>El segundo actual</p>

    <% // contenido para usuarios NO logados %>
    <% if (!session.userId) { %>
        <p>Para ver el contenido debe hacer <a href="/login">login</a></p>
    <% } %>

    <% // contenido para usuarios logados %>
    <% if (session.userId) { %>
        <h2>ingrese productos usuario bucle</h2>
        <% products.forEach(product => { %>
            <p> producto: <%= product.name %> 
                price:  <%= product.price %> 
                foto: <a href=""><%= product.foto %></a> 
                tags: <% product.tags %></p>
        <% }) %>
    <% } %>






    <h2>Maquetado</h2>
</div>

<%- include('footer.ejs') %>