<%- include('header.ejs') %>
<div class="container">
    <p>User ID: <%= session.userId %></p>
    <p>El segundo actual</p>

    <% // contenido para usuarios NO logados %>
    <% if (!session.userId) { %>
        <p>Para ver el contenido debe hacer <a href="/login">login</a></p>
    <% } %>

    <% // contenido para usuarios logados %>
    <% if (session.userId) { %>
        <h2>Ingresar productos usuario bucle</h2>
        <% products.forEach(product => { %>
        <p>
            producto: <%= product.name %> <br>
            precio: <%= product.price %> <br>
            <img src="/imagen-product/<%= product.image %>" alt="Imagen de <%= product.name %>" style="width: 200px; height: auto;"><br>

            etiquetas:
            <% if (product.tags && product.tags.length > 0) { %>
            <% product.tags.forEach(tag => { %>
                <span><%= tag %></span>
            <% }) %>
            <% } else { %>
            Sin etiquetas
            <% } %>
        </p>
        <% }) %>
    <% } %>
</div>
<%- include('footer.ejs') %>
