<%- include('header.ejs') %>
<div class="container">
    <p>User ID: <%= session.userName %></p>
    <p>El segundo actual</p>

    <% // contenido para usuarios NO logados %>
    <% if (!session.userId) { %>
        <p>Para ver el contenido debe hacer <a href="/login">login</a></p>
    <% } %>

    <% // contenido para usuarios logados %>

    <% if (session.userId) { %>
        <h2>Ingresar productos usuario </h2>
        <% products.forEach(product => { %>
        <p>
            <h4>producto:  <%= product.name %> <a href="/products/delete/<%= product.id %>"><i class="bi bi-trash"></i></a></h4><br>
            <h5>precio: <%= product.price %></h5> <br>
            <img src="/imagen-product/<%= product.image %>" alt="Imagen de <%= product.name %>" style="width: 200px; height: auto;"><br>
            <h5>etiquetas:
            <% if (product.tags && product.tags.length > 0) { %>
            <% product.tags.forEach(tag => { %>
                <span><%= tag %></span>
            <% }) %>
            <% } else { %>
            Sin etiquetas
            <% } %></h5>
        </p>
        <% }) %>
    <% } %>
</div>
<div>
    <% if (skip > 0) { %>
        <a href="?skip=<%= skip - limit %>&limit=<%= limit %>">Anterior</a>
    <% } %>
    <a href="?skip=<%= skip + limit %>&limit=<%= limit %>">Siguiente</a>
</div>

<%- include('footer.ejs') %>
